/**
 * Your CSS goes here.
 */
/* Landing Page CSS */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Inter:wght@300;400;500;700&display=swap');
 /* @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); */ 

/* Global */
html {
    height: 100%;
    width: 100%;
}
body {
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
}
#height {
  height: 70%;
}
#story-page{
  display: none;
}
.video-background {
  position: relative;
  padding: 0;
  overflow: hidden;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
div.container-fluid {
  height: 100%;
}
/* Second Container */
div.second-container {
  height: 100%;
}

/* Heading Title */
h1,h2 {
  font-family: 'Bungee Shade';
  text-align: center;
}
/* Animation for Title from Codepen : Author Matt Gross */
.cyber {
  font-size: clamp(40px, 10vw, 100px);
  line-height: 1;
  color: yellow;
  z-index: 2;
  letter-spacing: 10px;
  filter: drop-shadow(0 1px 3px);
}

#path {
  animation: paths 5s step-end infinite;
}
@keyframes paths {

  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}
/* Event-Listener Button Animation from Codepen */
.glitched-button {
  font-size: 28px;
  font-family: 'Orbitron';
  color: white;
  background-color: transparent;
  text-shadow: 0 0 0 transparent, 0 0 10px #e0287d, 0 0 20px rgba(79, 20, 134, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
  animation: blink 4s infinite alternate;
  transform: translateZ(0) translate3D(0, 0, 0);
  backface-visibility: hidden;
  will-change: opacity;
}

@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.3;
  }
  46% {
    opacity: 1;
  }
}
@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.5;
  }
  46% {
    opacity: 1;
  }
}
/* Landing-Page CSS ends here */

/* Second page code starts here */


 .containerone #edit_story, #preview_story{
  font-family: 'Orbitron'!important;
  line-height: 42px;
  font-size: 18px;
 font-weight: 200;
 text-indent: 50px;
  }
 
  .display{


        /* display: flex; */
        flex-basis: 48%;
        padding: 2rem;
        /* background: linear-gradient(45deg ,  rgb(218, 217, 217),rgba(87, 10, 87, 0.667)    ); / */
        border-radius: 5px;
        background: url('./images/cyberPunk.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* filter: blur(5px); */
    
     }
    
     .heading_styling{
      font-size:55px;
      color:white;
      text-shadow: 5px 5px 5px #fdc1ff  ;
      letter-spacing: 10px;
     }
    .h3 {
      font-size: 18px;
      letter-spacing: 10px;
      font-weight: 200;
      color:white;
      font-family: 'Orbitron';
      text-align: center;
     
     }
     .display #resetbutton{
      position: absolute;
      top:15%;
      left:10%;
      border:none;
      width:150px;
      border-radius: 10px;
      padding:5px;
    
     }
     .containerone{
      display: flex;
    
      justify-content: space-evenly;
     
      margin-top: 4rem;
     }
    .containerone #story{
      font-family: 'Orbitron'!important;
      line-height: 42px;
      font-size: 0.95em;
      font-size: 16px;
     font-weight: 200;
     text-indent: 50px;
     /* color:white; */
      }
     
     .div_styling .case{
      padding:5px;
      width: 150px;
      height: 35px;
      border:none;
      font-size: 13px;
      text-align: center;
      background-color: rgba(200, 101, 228, 0.8);
      border-radius: 10px;
      transition: 0.3s ease-in;
      caret-color:#c61dcc ;
     }
    .div_styling  .case:focus{
      background-color: #f8c2f6d2;
      outline: 2px solid #c61dcc;
     }
    
     .div_styling .case::placeholder{
        color:black;
        font-size: 13px;
     }
     
      .div_styling{
         padding:20px;
         border: 2px solid white;
    
         min-height: 70vh; 
         border-radius: 50px;
         transition: 1s ease;
         /* width: 75%; */
         width:85%;
         margin-left: 15px;
         background-color: rgba(255, 255, 255, 0.692);
    
    
    
      }
    .div_styling:hover{
         box-shadow:   0px 0px 25px #c61dcc;
         backdrop-filter: blur(5px);
      }
    /* Responsiveness/ */
    
    
      @media (max-width: 765px) {
        .containerone {
          flex-direction: column;
          margin-top: 5rem;
        }
    
        .div_styling
        {
          align-self: center;
          flex-basis: 100%;
          margin-bottom: 25px;
        }
        .div_styling #story{
          font-size:14px;
    
        }
      .heading_styling{
        font-size: 1.7rem;
      }
      .h3{
        font-size: 0.9rem;
        letter-spacing: 8px;
      }
      .div_styling .case{
        font-size: 0.7rem;
        width:110px;
    
      }
      .display #resetbutton{
    
        width:0px;
        margin-top:10px;
        transform: translateX(80%);
      }
    
    }